body {
  background-color: cornflowerblue;
  font-size: 16;
}
a {
  text-decoration: none;
  color: coral;
}
li {
  font-size: 20px;
}
span {
  font-weight: 600;
}
img {
  width: 400px;
  height: 400px;
}
button {
  background-color: rgb(226, 200, 168);
  display: flex;
}
.bl1 {
  display: flex;
  flex-direction: column;
  width: 98%;
  background-color: rgb(232, 220, 131);
  /* height: 60px; */
  margin: 1%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.text {
  font-size: 20px;
  display: flex;
  flex-direction: column;
  width: 85%;
  /* margin: 1%; */
  text-align: left;
}
.hidden {
  display: none;
}